---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Bienvenido a la kehila Gozo y Paz">
	<main>
		<section class="hero-content">
			<div class="hero-content__first-col">
				<header>
					<h3>Shalom!</h3>
					<h1>Bienvenido a la <span class="title">Kehila Gozo y Paz</span></h1>
					<p>¡Estudia la Palabra desde una perspectiva hebrea y descubre tus raíces!</>
					<div class="hero-content__first-col__btns">
						<a class="books-btn" href="/books">Descarga libros</a>
					</div>
				</header>
			</div>
			<div class="hero-content__second-col">
				<img width="600" alt="500" src="/assets/kehila.webp" alt="" />

			</div>
		</section>
		<!-- Ultimos contenidos publicados -->

	</main>
</Layout>

<style>
	main {
		padding: 5em 2em;
		line-height: 1.6;
	}

	.hero-content {
		display: grid;
		gap: 1em;
		grid-template-columns: repeat(2,1fr);
		justify-content: center;
	}

	.hero-content__first-col {
		display: flex;
		align-items: center;
	}

	.hero-content__first-col header {
		display: flex;
		flex-direction: column;
		gap: 20px;
	} 

	.hero-content__first-col header h3 {
		margin-bottom: -15px;
		font-size: 1.4rem;
		color: #3fc35c;
	}

	.hero-content__first-col header h1 {
		font-size: 3.5rem;
		font-weight: 700;
		line-height: 60px;
		margin-bottom: 1em;
		width: 15ch;
		margin: auto;
		margin-top: 0;
	}

	.hero-content__first-col header h1 .title {
		color: #2d9644;
	}

	.hero-content__first-col header p {
		text-align: left;
		font-size: 1.1rem;

	} 

	/* ----------------------------- */
	.hero-content__second-col {
		width: 10em;
	}

	.hero-content__second-col img {
		border-radius: 10px;
	}

	p {
		font-size: 1.3rem;
		width: 35ch;
		text-align: center;
	}

	.hero-content__first-col__btns {
		display: flex;
		gap: 10px;
	}

	.hero-content__first-col__btns a {
		background-color: #3fc35c;
		border-radius: 10px;
		font-weight: bold;
		padding: .7em 1em;
		position: relative;
		color: #eee;
	}

	.hero-content__first-col__btns a:hover {
		color: #c2ffcf;
	}
	
	.hero-content__first-col__btns .books-btn:before {
			content: "";
			z-index: -1;
			position: absolute;
			width: inherit;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: linear-gradient(-45deg, #66da7f 0%, #51ce6c 100% );
			transform: translate3d(0px, 10px, 0) scale(0.95);
			filter: blur(20px);
			opacity: var(0.7);
			transition: opacity 0.3s;
	}

</style>
