<nav>
  <a href="/">
    <img src="" alt="logo" />
  </a>
  <ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/books">Libros</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav>

<style>
  nav {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    max-width: 100vw;
    padding: .7em 2em;
    background-color: #3fc390;
  }

  ul {
    display: flex;
    gap: 20px;
  }

  ul li {
    color: #222;
    font-weight: 500;
    font-size: .75rem;
  }
</style>
