<nav>
  <img src="" alt="logo" />
  <ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/books">Libros</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav>

<style>
  nav {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    max-width: 100vw;
    padding: 1em 2em;
    background-color: var(--primary-color);
  }

  ul {
    display: flex;
    gap: 20px;
  }
</style>
