<div class="radio-player__container">
  <iframe class="radio-player" src="https://www.zeno.fm/player/radiogozoypaz"></iframe>
</div>

<style>
  .radio-player__container {
    width: 100%;
    position: fixed;
    bottom: 0;
  }

  .radio-player {
    width: 100%;
  }
</style>
