---
import RadioPlayer from '../components/RadioPlayer.astro';
import Navbar from '../components/navbar.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navbar />
		<slot />
		<!-- <RadioPlayer /> -->
	</body>
</html>
<style is:global>
	:root {
		--big-title: 3.5rem;
		--normal-title: 1.5rem;
		--title: 1.3rem;

		--primary-color: #51ce6c;
		--primary-color-gradient: linear-gradient(-45deg, #66da7f 0%, #51ce6c 100% );
		--black: #141414;
	}

	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}

	html {
		font-family: 'Poppins', sans-serif;
	}
	
	a {
		text-decoration: none;
		color: #313;
		transition: color .3s ease-in;
	} a:hover {
		color: #323
	}

	li {
		list-style: none;
	}

	button {
		border: none;
		background-color: white;
	}

	h1 {
		font-size: var(--big-title);
	}

	h2 {
		font-size: var(--normal-title);
	}

	h3 {
		font-size: var(--title);
	}
</style>
